html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 595px;
  padding: 15px 20px;
  font-family: 'Poppins', sans-serif;
}

* {
  overflow-wrap: break-word;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --bg-white: #ffffff;
  --bg-gray: #f0f0f0;
  --bg-green: #28d979;
  --yellow: #f6ed1e;
  --black: #000000;
  --gray-text: #5c5c5c;

  --page-gap: 20px;
  --section-padding: 12px;
}

.wrapper {
  display: grid;
  gap: var(--page-gap);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'avatar greetings languages languages'
    'expirience expirience expirience tools'
    'education education interests interests'
    'education education footer footer';
}

.section-container {
  padding: var(--section-padding);
  background-color: var(--bg-gray);
  border-radius: 12px;
}

.block-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 16px;
}

.card {
  background-color: var(--bg-white);
  padding: 8px;
  border-radius: 8px;
}

.avatar {
  grid-area: avatar;
  min-width: 124px;
  max-height: 124px;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.introduction {
  min-width: 124px;
  grid-area: greetings;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introduction__greetings {
  font-size: 10px;
  line-height: 150%;
}
.introduction__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 104%;
}
.introduction__position {
  color: var(--gray-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}

.languages {
  grid-area: languages;
}

.languages__container {
  display: flex;
  gap: 16px;
}

.languages__name-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages__progress-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.languages__name {
  font-weight: 500;
  font-size: 10px;
  line-height: 104%;
  white-space: nowrap;
}
.languages__progress {
  height: 11px;
  border-radius: 3px;
  width: 100%;
  background-color: var(--bg-green);
}

.languages__progress--hi {
  width: 77%;
}

.experience {
  grid-area: expirience;
}

.experience__card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience__card--green {
  background-color: var(--bg-green);
  color: var(--bg-white);
}

.experience__period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 8px;
  line-height: 150%;
}

.experience__recent {
  background-color: #7e731266;
  color: #ddf163;
  padding: 2px 6px;
  border-radius: 59px;
}

.experience__position {
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}

.experience__tags {
  color: #3f3d3d;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}

.experience__tags--green {
  color: #ebf9f2;
}

.experience__description-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.experience__description {
  max-width: 239px;
  list-style: none;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.experience__description li {
  display: flex;
}

.experience__description li::before {
  content: '•';
  left: 0;
  top: 0;
  display: block;
  margin-right: 6px;
}

.tools {
  grid-area: tools;
  min-width: 124px;
  width: 100%;
  padding-bottom: 8px;
}

.tools__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 12px;
}

.tools__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.tools__card {
  position: relative;
  background-color: var(--bg-white);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 16px 11px;
  transition: all 0.3s ease;
}

.tools__card:hover {
  transform: scale(1.05);
}

.tools__card-title {
  padding: 2px 6px;
  background-color: var(--black);
  border-radius: 59px;
  color: var(--bg-white);
  font-weight: 500;
  font-size: 5px;
  line-height: 142%;
  position: absolute;
  top: -5.5px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.education {
  grid-area: education;
  padding-right: 8px;
}

.education__card-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
}

.education__card {
  max-width: 115px;
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.education__card-date {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}

.education__card-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}

.education__hashtag-container {
  display: flex;
  column-gap: 2px;
  flex-wrap: wrap;
}

.education__card-hashtag {
  color: #149063;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}

.education__card-hashtag-like {
  color: #ebf9f2;
}

.education__card-place {
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}

.education__card-like {
  color: var(--bg-white);
  background-color: #28d979;
}

.interests {
  grid-area: interests;
}

.interests__title {
  margin-bottom: 16px;
}

.interests__list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.interests__item {
  background-color: var(--bg-white);
  padding: 4px 10px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.footer {
  grid-area: footer;
  background-color: var(--black);
  color: var(--bg-white);
  border-radius: 12px;
  padding: 12px;
}

.footer__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 11px;
}

.footer__mail {
  color: #dddddd;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.download-container {
  display: flex;
  margin-top: 20px;
}

.download-btn {
  width: 100%;
  background-color: var(--bg-green);
  color: var(--bg-white);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.download-btn:hover {
  scale: 1.05;
  transition: all 0.4s ease;
}

@media (max-width: 570px) {
  .experience__description-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'avatar greetings'
      'languages languages'
      'expirience expirience'
      'tools interests'
      'education education'
      'footer footer';
  }
}
